@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'DM Sans', sans-serif;
}

html,body,#app,frame {
    width: 100%;
    height: 100%;
}

.aside-btn,.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}